<!DOCTYPE html>
<html>
<head>
    <title>Darts Game</title>
    <link rel="stylesheet" href="./static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div id="game-header">
        <h1><span id="game-type">501</span> - Leg <span id="current-leg">1</span>/<span id="total-legs">3</span></h1>
    </div>
    <div id="players-scores"></div>
    <div class="game-container"></div>

<script src="./static/js/game.js"></script>

</body>
</html>
